<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teams</title>
</head>
<body>
  <h1>Teams</h1>
  <ul><% @teams.each do |team| %>
    <li><%= team.name %></li>
  <% end %></ul>
</body>
</html>