<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Players</title>
</head>
<body>
  <h1>Players</h1>
  <ol><% @players.each do |player| %>
    <li><a href="/players/<%= player.id %>"><%= player.name %></a></li>
  <% end %></ol>
  <a href="/players/new">New Player</a>
</body>
</html>