<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sports!</title>
</head>
<body>
  <h1>Sports!</h1>
  <h2><a href="/teams">View Teams</a></h2>
  <h2><a href="/players">View Players</a></h2>
</body>
</html>